
.v-btn__content {
    transform: none !important;
}

#tooltip {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



table thead tr th {
    font-weight: bolder !important;
}
